.wrapper{
  margin-left: 12%;
}
.eduh1{
  color: #556667;
  font-family: Verdana, sans-serif;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.eduh2{
  color: #556667;
  font-family: Verdana, sans-serif;
  font-size: 1em;
}


.edubutton{
  color: #556667;
  text-decoration: underline;
  text-decoration-color: #556667;
  background-color: white;
  border-style: solid;
  border-color: #CD9862;
  border-width: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  height: 4em;
  font-family: Verdana, sans-serif;
}

.flexRow{
  display:flex;
  flex-direction: row;
}

.flexCol{
  display:flex;
  flex-direction: column;
}



.edubutton{
  margin-right: 2em;
  margin-bottom: 2em;
  color: #556667;
  text-decoration: underline;
  text-decoration-color: #556667;
  background-color: white;
  border-style: solid;
  border-color: #CD9862;
  border-width: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  height: 4em;
  font-family: Verdana, sans-serif;
}

/*.btnRow{
  display: block;
  margin-bottom: 2em;
}

.buttonCol{
  margin-right: 3em;
}*/

