.WholePage {
    position: relative;
    width: 1440px;
    height: 1054px;
    background: #FFFCF8;
    font-family: Verdana;
    color: #556667;
    font-style: normal;
}

.GrowingTogether {
    position: absolute;
    width: 365px;
    height: 44px;
    left: 172px;
    top: 232px;

    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

.HowToHelp{
    position: absolute;
    width: 1095px;
    height: 83px;
    left: 172px;
    top: 308px;    
    
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.One{
    position: absolute;
    width: 184px;
    height: 120px;
    left: 172px;
    top: 425px;

    font-weight: normal;
    font-size: 144px;
    line-height: 120px;
}

.Two {
    position: absolute;
    width: 184px;
    height: 120px;
    left: 621px;
    top: 665px;

    font-weight: normal;
    font-size: 144px;
    line-height: 120px;
}

.Partner{
    position: absolute;
    width: 406px;
    height: 206px;
    left: 412px;
    top: 425px;

    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}

.Share {
    position: absolute;
    width: 406px;
    height: 203px;
    left: 861px;
    top: 665px;

    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}