.navbar-container {
    background-color: #FFFCF8;
    font-family: Verdana;
    font-weight: 700;
    font-size: 0.835vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    margin-right: auto;
    width: 168px;
    width: 12%;
    padding: 32px 39px;
}

.logo img {
    width: 100%;
}

.nav-menu {
    margin-right: 2.3em;
    text-align: center;
}

.nav-menu a {
    text-decoration: none;
    color: #FFFCF8;
    background-color: #CD9B62;
    border-radius: 30px;
    border: 2px solid #CD9B62;
    padding: 11px 20px;
}

.nav-menu a:hover {
    background-color: #FFFCF8;
    color: #556667;
}

.nav-menu li {
    list-style: none;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1.5em;
}

#home-link {
    display: none;
}

.menu-icon {
    display: none;
}

@media (max-width: 1228px) {
    .navbar-container {
        font-size: 1vw;
    }

    .logo {
        width: 18%;
        transition: all 0.5s ease;
    }
}

@media (max-width: 970px) {
    .navbar-container {
        font-size: 1.2vw;
    }

    .logo {
        width: 24%;
        transition: all 0.5s ease;
    }
}

@media (max-width: 800px) {

    .logo {
        width: 28%;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 693px) {
    .navbar-container {
        font-size: 1.6vw;
    }
    
    .logo {
        margin-right: auto;
        margin-left: 0%;
        width: 20%;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100px;
        left: -100%;
        height: 100vh;
        transition: all 0.5s ease;
        padding: 6%;
        padding: 0;
        margin: auto;
    }

    .nav-menu.active {
        background-color: #FFFCF8;
        align-items: center;
        text-align: center;
        left: -3%;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-menu a {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        display: block;
        align-self: center;
        width: 100%;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto -5%;
    }

    #home-link {
        display: block;
    }

    .nav-menu li {
        width: 65%;
        max-width: 300px;
        padding: 10px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        width: 38px;
        align-items: center;
        margin-right: 8%;
        cursor: pointer;
    }

    .menu-icon img {
        width: 90%;
    }
}