.resources-container
{
    box-sizing: border-box;
    padding: 0 10%;
    padding-top: 25px;
    background-color: #FFFCF8;
    color: #556667;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resources-container h1
{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.res-card-container
{
    margin-top: 40px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card-link
{
    background-color: #B6D9D3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 25px 48px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 25px rgba(178, 178, 178, 0.25);
}

.card-link span
{
    background-color: inherit;
}

.client
{
    margin: 0 44px;
    margin-top: 38px;
    font-weight: bold;
}

@media (min-width: 900px)
{

    .res-card-container
    {
        margin-top: 80px;
        gap: 69px 84px;
    }

    .resources-container
    {
        padding-top: 69px;
    }

    .resources-container h1
    {
        text-align: left;
        font-size: 36px;
    }

    .card-link
    {
        width: 310px;
        height: 150px;
        padding: 0 40px;
        font-size: 24px;
    }
}