.resources-container 
{
    box-sizing: border-box;
    padding: 0 10%;
    padding-top: 25px;
    color: #556667;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 60px;
}

.resources-container h1 
{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

.res-card-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    /* https://coryrylan.com/blog/css-gap-space-with-flexbox */
    --gap: 25px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
}

.res-card-container > * 
{
    margin: var(--gap) 0 0 var(--gap);
}

.card-link 
{
    background-color: #B6D9D3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 25px 48px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 25px rgba(178, 178, 178, 0.25);
}

.card-link:hover 
{
    background-color: #d1f5ef;
}

.card-link span 
{
    background-color: inherit;
}

.client 
{
    margin: 0 44px;
    margin-top: 38px;
    font-weight: bold;
}

@media (min-width: 900px) 
{
    .resources-container 
    {
        padding-top: 69px;
        padding-bottom: 150px;
    }

    .resources-container h1 
    {
        text-align: left;
        font-size: 36px;
        margin-bottom: 80px;
    }

    .res-card-container 
    {
        --gapX: 84px;
        --gapY: 69px;
        display: inline-flex;
        flex-wrap: wrap;
        margin: calc(-1 * var(--gapY)) 0 0 calc(-1 * var(--gapX));
        width: calc(100% + var(--gapX));
    }
    
    .res-card-container > * 
    {
        margin: var(--gapY) 0 0 var(--gapX);
    }

    .card-link 
    {
        width: 310px;
        height: 150px;
        padding: 0 40px;
        font-size: 24px;
    }
}


